.mtt {
  width:100%;
  display:block;
  position:relative;
  opacity: 1;
  -moz-transition: all .5s;
  -webkit-transition: all .5s;
  transition: all .5s;
}
.mtt:hover {
  opacity: .7;
  -moz-transition: all .5s;
  -webkit-transition: all .5s;
  transition: all .5s;
  }

.mtt h2 {
  text-align:center;
  margin:15px 0px 0px 0px;
  padding:0px;
  font-size: 2.2rem;
}
.mtt h3 {
  text-align:center;
  opacity:.6;
  margin:10px 0px ;
  padding:0px;
  font-size: 1.5rem
}
.mtt .staff {
  width:100%;
  margin: auto;
  border-bottom: 5px solid #F59C1E;
}
.mtt .staff img{
  width:100%;
  height: auto;
}
#bio-popup {
  position: relative;
  /*background: #FFF;*/
  width:auto;
  margin: 20px 10%;
  border-bottom: 5px solid #F59C1E;
}

#bio-popup img {
  width:80px;
  height:auto;
}
.bio-popup {
position: relative;
background: none repeat scroll 0% 0% #FFF;
padding: 0px 0px 10px 0px;
width: auto;
margin: 0px 20%;
box-shadow: 0px 0px 0px 10px rgba(255, 255, 255, 0.4);
}
.bio-popup-text {
  background: #FFF;
  padding: 20px;
  margin: auto;
}
.bio-popup-text p {
  text-align:justify;
}
.bio-popup-text h2 {
text-align: left;
font-size: 3rem;
margin: 2rem 0 0 0;
}
.staffpopup p {
  text-align:justify;
}
.staffpopup h2 {
text-align: center;
font-size: 2rem;
margin: 2rem;
}
.staffpopup h3 {
text-align: center;
font-size: 1rem;
margin: 2rem;
}
.mtt .staff:after {
content: "▾";
position: relative;
width: 2rem;
height: 0;
margin: 0 auto;
top: -.4em;
color: #F59C1E;
font-size: 2em;
display: flex;
}
.staffpopup {
  margin:1rem;
  width: 150px;
  float: left;
}
.bio-popup-text img {
  width:100%;
  height: auto;
}
.bio-popup-text .photo {
float: left;
margin: 2rem 2rem 2rem 0;
width: 12rem;
border-bottom: 5px #F59C1E solid;
}

